<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field input-group widen">
    <%= f.label :name, class: 'sr-only' %><br>
    <%= f.text_field :name, class: 'form-control', placeholder: 'name' %>
  </div>
<div class="field input-group widen">
    <%= f.label :email, class: 'sr-only' %><br>
    <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>
  </div>
<div class="field input-group widen">
    <%= f.label :encrypted_password, class: 'sr-only' %><br>
    <%= f.password_field :encrypted_password, class: 'form-control', placeholder: 'password' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success widen' %>
  </div>
<% end %>

