<h1>Listing responses</h1>

<table>
  <thead>
    <tr>
      <th>Vote count</th>
      <th>Body</th>
      <th>Verdict</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.vote_count %></td>
        <td><%= response.body %></td>
        <td><%= response.verdict %></td>
        <td><%= response.created_at %></td>
        <td><%= response.updated_at %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>
