<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="share-tray">
						<ul>
							<li><span class="icomoon icon-facebook3"></span></li>
							<li><span class="icomoon icon-twitter3"></span></li>
						</ul>
					</div>
					<h3>
						<%= @post.title %>
					</h3>
					<p>
						<%= @post.body %>
					</p>
					<div class="text-right">
						<a href="/upvote">upvote</a> <a href="/upvote">downvote</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<ul class="comment-list">
		    <% @post.responses.each do |response| %>
		    <li><%= response.body %> - <%= response.author.name %></li>
	      <% end %>
			</ul>
		</div>
		<div class="row text-center">
		<%= link_to 'Post a response', new_response_url, {class: 'btn btn-primary navbar-btn', role: 'button'} %>
		</div>

	</div> <!-- /row -->
</div> <!-- /com-md-8 -->
