<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<!--
 __      __  _______  __      __
/\ \  __/\ \/\  ____\/\ \  __ \ \
\ \ \/\ \ \ \ \ \___ \ \ \ \ \ \ \
 \ \ \ \ \ \ \ \  __\ \ \ \ \ \ \ \
  \ \ \_/ \_\ \ \ \    \ \ \_/ \_\ \
   \ \___/\___/\ \_\    \ \___/\___/
    \/___//__/  \/_/     \/___//__/
-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Gavel</title>
  <meta name="description" content="Settle arguments.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding-top: 75px;
    }
  </style>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min" %>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<%= render "layouts/navbar" %>

<div class="container" id="wrapper">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</div>

<%= render "layouts/footer" %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>

